**/.circleci
**/.editorconfig
**/.dockerignore
**/.git
**/.DS_Store
**/.vscode
**/node_modules

# Specific patterns to ignore
client/dist
packages/client/dist
packages/data-provider/dist
packages/data-schemas/dist
packages/api/dist
data-node
meili_data*
librechat*
Dockerfile*
docs

# Ignore all hidden files
.*
